body {
  font-family: Arial, Helvetica, sans-serif;
  background: var(--gradient);
  overflow-x: hidden;
  
}
:root {
  --btncolor: rgba(0, 0, 0, 0.523);
  --textcolor: rgba(71, 89, 255, 0.377);
  --gradient: linear-gradient(to bottom, #2c303500 0%, #ffffffbd 100%);
}



.hero {
  background: #f8eff1d3;
  text-align: center;
  padding: 120px 20px;
  padding-bottom: 90px;
}

.hero1 {
  background: #f8eff1d3;
  text-align: center;
  /* padding: 12px 20px; */
 
}


.btns1 {
  text-align: center;
  background: #f8eff1d3;
  padding: 20px;
}



.fa-solid{
  color: black;
  font-size: 78px;
}


.hi {
  font-size: 50px;
  font-weight: 400;
 
}

.name {
  font-size: 4.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
 
}

.info {
  font-size: 4.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  margin-top: 0;
  
}
.text {
  font-size: 24px;
 
}

.textt {
  font-size: 44px;
  font-weight: 300;
  padding: 0;
  margin: 0;
  padding-bottom: 0;
 
}

.mb{
  font-weight: 300;
}

.mb1{
  font-weight: 300;
}


.content{
  padding: 0 80px;
}

.text2 {
  font-size: 30px;
  
}

.text3 {
  font-size: 50px;
  text-align: auto;
  
}


.btns {
  text-align: center;
  margin: 15px;
  color: black;
}

.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  background: #d6b2ca;
  color: black;
}

.about {
  color: black;
  margin: 15px;
  font-size: 20px;
  border: 1px solid rgba(0, 0, 0, 0.027);
  padding: 10px;
  border-radius: 5px;
  background-color: var(--btncolor);
}
a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  background: #c2d4dee0;
  border-radius: 5px;
  color: black;
}

.container {
  text-align: center;
/* background-color: rgba(0, 0, 0, 0.161); */
  /* max-width: 600px; */

  margin: 90px auto;
  /* width: 100%; */
}

.containerc {
  text-align: center;
  margin: 25px auto;
  width: 100%;
}

.container2 {
  text-align: center;
  background: #f8eff1d3;
  /* max-width: 600px; */
  /* margin: 30px auto; */
  /* padding-top: 15px ; */
}

.textinfo {
  display: flex;
  margin: 10px 0;
}

.textinfo p {
  margin: 10px;
  text-align: justify;
  background-color: #f8eff1d3;
  padding: 30px;
  border-radius: 5px;
  line-height: 1.5;
}

.email {
  color: black;
  text-decoration: none;
}

.homepage {
  color: black;
}



footer {
  margin: 60px 0;
}

footer .contact-box {
  background: #f8eff1d3;
  padding: 30px 120px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

footer .email-link:hover {
  color: black;
  text-decoration: none;
}

footer .social-links a {
  margin: 0 20px;
  color: black;
  background: #c2d4de;
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: #d6b2ca;
  background: #c2d4de;
}

.row {
  margin: 20px;
  padding: 40px;
  font-size: 21px;
  background: #f8eff1d3;
}

.img {
  width: 100%;
  height: auto;
}

.mefoto {
  width: 60%;
  height: auto;
}

.img-fluid{
  width: 100%;
  height: auto;
}

.paragraphs p {
  margin: 10px;
  font-size: 15px;
  line-height: 1.5;
  text-align: block;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

img[hidden] {
  display: none;
}



@media (max-width: 600px) {
  .name {
    font-size: 38px;
    text-align: center;
  }

  .hi{
    font-size: 40px;
  }

  .text{
    font-size: 20px;
  }

  .info{
    font-size: 40px;
  }

  .text2{
    font-size: 20px;
  }

  .text3{
    font-size: 30px;
  }

  .hide{
    display: none;
  }

  .imgi{
    display: none;
  }

  .mb-2{
    font-size: 30px;
  }

  .mb-4{
    font-size: 20px;
  }

  .mb-5{
    font-size: 18px;
    align-items: center;
  }

}
